/* PDF container styles */
.pdf-container {
  position: relative;
  margin: 0 auto;
}
.pdf-display{
  position: relative;
  margin: 0 auto;

}

/* PDF canvas styles */
.pdf-canvas {
  border: 1px solid #ddd; /* Border for the canvas */
  display: block;
  max-width: 800px;
}

/* Selection rectangle styles */
.selection-rectangle {
  position: absolute;
  border: 2px dashed #FF5733; /* Dashed border for the selection rectangle */
  background-color: rgba(255, 87, 51, 0.3); /* Semi-transparent background color */
  pointer-events: none; /* Prevent the rectangle from interfering with mouse events on the canvas */
  z-index: 2; /* Place the rectangle above the canvas */
}

.pdf-file{
  display: flex;
  width: 100%;
}

.annotation{
  width: 30%;
  background-color: #faf9f7;
}

